/************************************************** 
    Universal styles 
**************************************************/

* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}
.flexed {
    display: flex;
}
/*
.boxed {
    width: ;
    max-width: ;
}
*/

/********************
Developement
********************/
/*
.devsize1{
    min-width: 1rem;
    min-height: 1rem;
}
.devcolor1{
    background-color: red;
    border: 1px dashed black;
}
*/


/************************************************** 
    Header styles 
**************************************************/


/************************************************** 
    Main styles 
**************************************************/


/************************************************** 
    Footer styles 
**************************************************/